@model IEnumerable<LeanAdmin.Models.QuestionControl>
@{
    ViewBag.Title = "Index";
}

<h2>Control Types</h2>

<div class="row container">
    <div class="row col-sm">
        <form action="@Url.Action("AddControl")"><button class="btn btn-success" type="submit">Add <i class="fas fa-plus-circle"></i></button></form>
        <form class="col-sm">
            <button class="btn btn-danger" id="bttDelete" type="button" data-url="@Url.Action("Delete")" disabled>Delete <i class="fas fa-minus-circle"></i></button>
        </form>
    </div>
    <div class="col-sm-3">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </div>
</div>
<br />
<div>
    <table class="table">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Decription</th>
            <th>Update Date</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input name="check" type="checkbox" value="@item.Id"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                </td>
            </tr>
        }
    </table>
</div>

@section scripts {
    <script type="text/javascript">
        var checkboxes = $("input[type='checkbox']");
        $(document).on("change", checkboxes, function () {
            $("#bttDelete").attr("disabled", !checkboxes.is(":checked"));
        });

        $(document).on("click", "#bttDelete", function () {
            $self = $(this);
            var listCheck = [];
            var url = $self.data("url") + "?listItem=";
            $("input[name='check']:checked").each(function () {
                listCheck.push($(this).val());
                url += String($(this).val()) + "-";
                var tr = $(this).closest("tr");
                tr.remove();
            });
        });

    </script>
}