@model LeanAdmin.ViewModels.AddQuestionViewModels

@{
    ViewBag.Title = "AddQuestion";
}

<h2>Add Question</h2>
<br />

<form action="@Url.Action("AddQuestion","Questions")" method="post">
    <div class="container">
        <div class="mb-3">
            <label>Label </label>
            @Html.TextBoxFor(model => model.Label, new { @class = "form-control" })
        </div>
        <div class="mb-3">
            <label>Description </label>
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 3 })
        </div>
        <div class="mb-3">
            <label>Control Type </label>
            @Html.DropDownListFor(model => model.ControlId, Model.ListControl, new { @class = "form-control" })
        </div>
        <div class="mb-3">
            <label>Attribute </label>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                        <th> <button class="btn btn-info btn-sm addRow" type="button"><i class="fas fa-plus"></i></button></th>
                    </tr>
                </thead>
                <tbody id="tbody"></tbody>
            </table>
        </div>
    </div>

    <button class="btn btn-success bttAddQues" data-url="@Url.Action("AddQuestion","Questions")" type="button"> Add</button>

</form>

@section scripts {
    <script type="text/javascript">
        $(document).on("click", ".addRow", function () {
            var row = "<tr> <td> <input type='text'  class='form-control inputName'/> </td> <td> <input type='text'  class='form-control inputValue' /> </td>  <td><button class='btn btn-success btn-sm bttAddAttr' type='button'> <i class='fas fa-check'></i></button></td> </tr>";
            $("#tbody").append(row);
        });

        var attributeArr = [];

        $(document).on("click", ".bttAddAttr", function () {
            $self = $(this);
            var name = $self.closest("tr").find(".inputName").val();
            var value = $self.closest("tr").find(".inputValue").val();
            if (!name && !value) {
                alert("Please input data");
                var tr = $self.closest("tr");
                tr.remove();
            }
            else {
                var row = "<tr> <td class='inputName'>" + name + "</td> <td class='inputValue'> " + value + " </td>  <td><button class='btn btn-danger btn-sm bttDelAttr' type='button'><i class='fas fa-times'></i></button></td> </tr>";
                var Attr = { Name: name, Value: value };
                attributeArr.push(Attr);
                var tr = $self.closest("tr");
                tr.remove();
                $("#tbody").append(row);
            }
        });

        $(document).on("click", ".bttDelAttr", function () {
            var name = $self.closest("tr").find(".inputName").val();
            var value = $self.closest("tr").find(".inputValue").val();
            var Attr = { Name: name, Value: value };
            attributeArr.pop(Attr);
            var tr = $(this).closest("tr");
            tr.remove();
        });



        $(document).on("click", ".bttAddQues", function () {
            var $self = $(this);
            var url = $self.data("url");
            var data = {
                Label: $("#Label").val(),
                Description: $("#Description").val(),
                ControlId: $("#ControlId").val(),
                QuestionAttributes: attributeArr
            };
            $.ajax({
                url: url,
                data: data,
                type: "POST"
            });
        });

    </script>
}