@model PagedList.IPagedList<LeanAdmin.Models.Question>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Questions</h2>
<br />
<div class="row container">
    <div class="row col-sm">
        <form action="@Url.Action("AddQuestion")"><button class="btn btn-success" type="submit">Add <i class="fas fa-plus-circle"></i></button></form>
        <div class="col-sm">
            <button class="btn btn-danger" id="bttDelete" type="button" data-url="@Url.Action("DeleteQuestion")" disabled>Delete <i class="fas fa-minus-circle"></i></button>
        </div>
    </div>
    <div class="col-sm-3">
        <input class="form-control mr-sm-2 searchBox" type="search" placeholder="Search" aria-label="Search">
    </div>
</div>
<br />
<div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Decription</th>
                <th>Control Type</th>
                <th>Update Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="tbody">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input name="check" type="checkbox" value="@item.Id" />
                    </td>
                    <td>
                        @item.Label
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.ControlId
                    </td>
                    <td>
                        @item.UpdatedDate.ToShortDateString()
                    </td>
                    <td>
                        <button class="btn btn-info btn-sm bttEdit" type="button" data-url="@Url.Action("EditQuestion",new { id = item.Id})">Edit</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>

@section scripts {
    <script src="/Scripts/bootbox.min.js"></script>
    <script src="/Scripts/toastr.js"></script>
    <script type="text/javascript">
        var checkboxes = $("input[type='checkbox']");
        $(document).on("change", checkboxes, function () {
            $("#bttDelete").attr("disabled", !checkboxes.is(":checked"));
        });

        $(document).on("click", "#bttDelete", function () {
            $self = $(this);
            //var listCheck = [];
            var url = $self.data("url") + "?listItem=";
            $("input[name='check']:checked").each(function () {
                //listCheck.push($(this).val());
                url += String($(this).val()) + "-";
                //var tr = $(this).closest("tr");
                //tr.remove();
            });

            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    $.ajax({
                        url: url,
                        success: function () {
                            toastr.success('Question Deleted !!', { positionClass: 'toast-top-right', timeOut: 300 });
                            $("input[name='check']:checked").each(function () {
                                var tr = $(this).closest("tr");
                                tr.remove();
                                $("#bttDelete").attr("disabled", true);
                            });
                        }
                    });
                }
            });
            
        });

        $(document).on("keyup", ".searchBox", function () {
            var value = this.value;

            $("table").find("tr").each(function (index) {
                if (index === 0) return;
                var id = $(this).find("td").text();
                $(this).toggle(id.indexOf(value) !== -1);
            });
        });
        $(document).on("click", ".bttEdit", function () {
            var url = $(this).data("url");
            window.location.href = url;
        });

    </script>
}